<li id="micropost-<%= micropost.id %>" data-micropost-id="<%= micropost.id %>">
  <% micropost_user = micropost.user %>
  <%= link_to image_tag(micropost_user.usericon.url, class: "usericon", :size => "45x45"), micropost.user %>
  <%= link_to micropost.user.name, micropost.user %>
  <span class="content">
    <%= micropost.content %>
    <%= link_to image_tag(micropost.picture.url), micropost %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %>前に投稿
    <%= link_to "投稿詳細を見る", micropost %>
    <% if current_user?(micropost.user) %>
      <%= link_to "削除", micropost, method: :delete, data: { confirm: "削除してもよろしいですか？" } %>
    <% end %>
  </span>
</li>